*.h5
*.a
*.pdf
bin.block/example_modis_sst/*
bin.block/example_reynolds_sst/*
*.grb1
*.grb2

bin.dp.grib1/example_data/*
bin.dp.grib2/example_data/*
dp-p[0-9]*
bin.revu/example_data/*
*.swp
*.docx
misc/hdf5-1.8.9*
misc/mpich2-1.4.1.precomp.binaries/*
misc/extra/*.tar
bin.dp.grib2/wgrib*
misc/mpich2-*
.DS_Store
mpich2-1.4.1.precomp.binaries.tar
mpich2-1.4.1.sourcecode.tar
*.mod
docs
